.bg-black{
    background-color: rgb(3, 19, 1);
}
.logo{
    
    
   
    }
#event-box{color: rgb(19, 172, 243);;
}
#blur{
    filter: blur(20px);
}

    

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 10px;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  .centered {
    position: absolute;
    top: 1454px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #conact-deatails{
      text-size-adjust: 10px;
  }
  .cover-pic-knowmore{
      filter: blur(10px);
  }
.note{
    position: absolute;
    top: 400px;
}